<div class="main-container">
  <div class="search-box">
    <input #txtNombre type="text" 
           placeholder="Buscar por nombre (ej. Maruti)..." 
           (keyup.enter)="buscar(txtNombre.value)">
    
    <button (click)="buscar(txtNombre.value)">Buscar</button>
    
    <button class="btn-reset" (click)="obtenerTodos(); txtNombre.value=''">Limpiar</button>
  </div>

  <div *ngIf="cargando" class="loading">Buscando en la BD...</div>

  <div class="card-grid" *ngIf="!cargando">
    <div class="card" *ngFor="let carro of listaCarros">
      <span class="card-tag">{{ carro.year }}</span>
      <h3>{{ carro.name }}</h3>
      <div class="info">
        <span><strong>💰 Precio:</strong> ${{ carro.selling_price | number }}</span>
        <span><strong>🚗 KM:</strong> {{ carro.km_driven | number }} km</span>
      </div>
      <div class="details">
        <span class="badge">{{ carro.fuel }}</span>
        <span class="badge">{{ carro.transmission }}</span>
      </div>
      <p style="font-size: 0.8rem; color: #999; margin-top: 15px;">
        Owner: {{ carro.owner }}
      </p>
    </div>
  </div>
</div>